* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg-container {
  background-image: linear-gradient(to right, #ffeeee, #ffc0bb);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-container {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  width: 40%;
  text-align: center;
}
.heading {
  font-size: 20px;
}
.options {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  list-style-type: none;
}
.love {
  height: 50px;
  margin-top: 40px;
}
